.cards {
  display: flex;
}
.category-img img {
  height: 100%;
  width: 97%;
  position: relative;
}
.category-button {
  position: absolute;
}

.category-button button {
  width: 200px;
  height: 60px;
  position: absolute;
  margin-top: -93px;
  margin-left: 80px;
  color: #faa619;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}
