.menu-bar ul {
  list-style-type: none;
  font-weight: 40px;
}
.menu-bar ul li {
  list-style-type: none;
  padding: 10px 20px;
  font-weight: 40px;
}
.menu-bar {
  display: flex;
  font-weight: 40px;
}
li {
  padding: 10px 20px;
  list-style-type: none;
  text-decoration: none;
  font-weight: 30px;
}
